@model List<WebEmpleo.Models.Experiencia>
<p>
    <a asp-controller="Experiencias" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                FchInicio
            </th>
            <th>
                FchFin
            </th>
            <th>
                Descripcion
            </th>      
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FchInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FchFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdExperienciaLaboral">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdExperienciaLaboral">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdExperienciaLaboral">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
