@model WebEmpleo.Models.Experiencia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Experiencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FchInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FchInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FchFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FchFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FchCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FchCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FchUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FchUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonaNavigation.IdPersona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdExperienciaLaboral">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
